{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Shopping Cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	{% comment %} <div class="alert alert-success text-uppercase" role="alert">
						 <i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping! 
					</div> {% endcomment %}
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>
                                

                                {% for item in cart_item %}
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <input type="checkbox" class="is-active-checkbox" data-id="{{ item.id }}" {% if item.is_active %}checked{% endif %}>
                                        <a href="#"><img class="cart__image" src="{{ item.variant.product.thumbnail.url }}"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="#" style="text-decoration: none;color: #000;text-decoration: none;">{{ item.product.product_name }}</a>
                                        </div>
                                        <div class="cart__meta-text">
                                            <br>Size:{{ item.variant.size }}<br>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">₹{{ item.product.offer_price }}</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="input-group input-group-sm" style="max-width: 120px;"> 
                                                <button class="btn btn-outline-secondary qty-btn" type="button" data-action="decrease" data-id="{{ item.id }}">-</button> 
                                                <input type="text" class="form-control text-center qty-input" value="{{ item.quantity }}" readonly> 
                                                <button class="btn btn-outline-secondary qty-btn" type="button" data-action="increase" data-id="{{ item.id }}" data-stock="{{ item.variant.variant_stock }}">+</button> 
                                            </div> 
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money cart-item-total">₹{{ item.total_amount }}</span></div>
                                    </td>
                                    <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove item"><i class="icon icon anm anm-times-l"></i></a></td>
                                </tr>
                                {% endfor %}
                                
                               
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="http://annimexweb.com/" class="btn btn-secondary btn--small cart-continue"   >Continue shopping</a></td>
                                    <td colspan="3" class="text-right">
	                                    <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">Clear Cart</button>
                                    	<button type="submit" name="update" class="btn btn-secondary btn--small cart-continue ml-2">Update Cart</button>
                                    </td>
                                </tr>
                            </tfoot>
                    </table> 
                    </form>                   
               	</div>
                
                
                <div class="container mt-4">
                    <div class="row">
                    	<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Discount Codes</h5>
                            <form action="#" method="post">
                            	<div class="form-group">
                                    <label for="address_zip">Enter your coupon code if you have one.</label>
                                    <input type="text" name="coupon">
                                </div>
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Apply Coupon"></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">

                        </div>
                        
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                            <div class="solid-border">	
                              <div class="row border-bottom pb-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                <span class="col-12 col-sm-6 text-right">
                                    <span id="cartTotal" class="money">${{ cart_total }}</span>
                                </span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Tax</span>
                                <span class="col-12 col-sm-6 text-right">$10.00</span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                <span class="col-12 col-sm-6 text-right">Free shipping</span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
                                <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span id="cartSubTotal" class="money">${{ cart_total }}</span></span>
                              </div>
                              <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                              <p class="cart_tearm">
                                <label>
                                  <input type="checkbox" name="tearm" class="checkbox" value="tearm" required="">
                                  I agree with the terms and conditions
								</label>
                              </p>
                              <button type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" style="background-color: black; color: white;">
                                <a href="{% url 'cart:cart_checkout' %}" style="color: white; text-decoration: none;">Proceed To Checkout</a>
                              </button>
                              <div class="paymnet-img"><img src="{% static 'assets/images/payment-img.jpg' %}" alt="Payment"></div>
                              
                            </div>
        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>


        // CART ITEM STATUS ------------------------------------------>


        $(document).ready(function() {
            // Attach the event handler dynamically using event delegation
            $(document).on('change', '.is-active-checkbox', function() {
                var isChecked = $(this).is(':checked');
                var itemId = $(this).data('id');
                var row = $(this).closest('.cart__row');
        
                $.ajax({
                    url: "{% url 'cart:update_is_active' %}",  // Ensure this is correct
                    type: 'POST',
                    data: {
                        'id': itemId,
                        'is_active': isChecked,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF token for security
                    },
                    success: function(response) {
                        if (response.success) {
                            console.log('Status updated successfully.');
                            console.log(response.cart_total);
                            console.log(response.cart_subtotal);
                            console.log(response.cart_item_total);
        
                            // Update the total price and apply a fade effect for better user experience
                            $('#cartTotal').fadeOut(100, function() {
                                $(this).text('₹' + response.cart_total.toFixed(2)).fadeIn(100);
                            });
                            $('#cartSubTotal').fadeOut(100, function() {
                                $(this).text('₹' + response.cart_subtotal.toFixed(2)).fadeIn(100);
                            });
        
                            // Update the specific CartItemTotal in the same row
                            row.find('.cart-item-total').fadeOut(100, function() {
                                $(this).text('₹' + response.cart_item_total.toFixed(2)).fadeIn(100);
                            });
                        } else {
                            console.error('Error:', response.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
        
        
    </script>
    <script>
        

        // CART ITEM QUANTITY ------------------------------------>


        document.querySelectorAll('.qty-btn').forEach(button => {
            button.addEventListener('click', function() {
                const input = this.closest('.input-group').querySelector('.qty-input');
                let currentValue = parseInt(input.value);
                let newValue;
                const stock = parseInt(this.dataset.stock);
                const incrementLimit = 5;
                const itemId = this.dataset.id;
        
                if (this.dataset.action === 'increase') {
                    if (currentValue < incrementLimit && currentValue < stock) {
                        newValue = currentValue + 1;
                    } else {
                        newValue = currentValue;
                        Swal.fire({
                            title: 'Limit Reached',
                            text: `You cannot add more than ${Math.min(incrementLimit, stock)} items.`,
                            icon: 'warning'
                        });
                    }
                } else if (this.dataset.action === 'decrease' && currentValue > 1) {
                    newValue = currentValue - 1;
                } else {
                    newValue = currentValue;
                }
        
                input.value = newValue;
        
                // AJAX request to update the cart quantity
                $.ajax({
                    url: '{% url "cart:update_cart_quantity" %}',  // Replace with your correct URL
                    method: 'POST',
                    data: {
                        'item_id': itemId,
                        'quantity': newValue,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            document.getElementById('cartSubTotal').textContent = `₹${response.new_total}`;
                            document.getElementById('cartTotal').textContent = `₹${response.item_sub_total}`;
                            
                            // Update the specific CartItemTotal in the same row
                            const row = input.closest('.cart__row');
                            console.log(row)
                            const cartItemTotalElement = row.querySelector('.cart-item-total');
                            console.log(cartItemTotalElement)
                            cartItemTotalElement.textContent = `₹${response.cart_item_total}`;
                        }
                    },
                    error: function(response) {
                        console.error('Error updating quantity:', response);
                    }
                });
            });
        });
        
    </script>
{% endblock %}  
   