{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			{% comment %} <div class="page-title">
        		<div class="wrapper"><h1 class="page-width">About Us</h1></div>
      		</div> {% endcomment %}
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="text-center mb-4">
                        <h2 class="h2">DripCartel</h2>
                        <div class="rte-setting">
                            <p><strong> Drip  Revolution </strong></p>
                            <p>Welcome to DripCartel, where style meets authenticity. We are more than just a sneaker store—we're a community of sneaker enthusiasts who value quality, craftsmanship, and originality. At DripCartel, we believe that every sneaker tells a story, and we're here to help you find the perfect pair to match yours.</p>
                        </div>
                    </div>
               	</div>
            </div>
            <div class="row">
            	<div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'assets/images/drip/one.jpg' %}" src="{% static 'assets/images/drip/one.jpg' %}" alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'assets/images/drip/two.jpg' %}" src="{% static 'assets/images/drip/two.jpg' %}" alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'assets/images/drip/three.jpg' %}" src="{% static 'assets/images/drip/three.jpg' %}" alt="About Us" /></div>
            </div>
            <div class="row">
            	<div class="col-12">
                    <h2>Our Mission</h2>
                    <p>In an era of fast fashion and counterfeit goods, DripCartel stands for something different. Our mission is simple: to provide sneakerheads with access to 100% authentic, high-quality sneakers that reflect their individual style. Whether you're a collector or just starting your sneaker journey, we're here to ensure that every shoe you buy from us is legitimate, verified, and top-tier.</p>
                    <p>simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                    <p></p>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                	<h2 class="h2">Why DripCartel?</h2>
                    <div class="rte-setting"><p><strong>We know that sneaker culture is more than just shoes—it's a lifestyle. That's why we go the extra mile to bring you exclusive content, insider access to new releases, and a chance to be part of a community that lives and breathes sneakers. Whether you're looking to cop the latest drop or add a grail to your collection, DripCartel has got you covered.</strong></p>
                    <p></p>
                    <p></p>
                    <p></p></div>
                </div>
                {% comment %} <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                	<h2 class="h2">Join the Cartel</h2>
                    <ul class="addressFooter">
                        <li><i class=""></i><p>DripCartel is where sneaker passion meets unparalleled authenticity. Browse our collection, find your next pair, and elevate your sneaker game today.</p></li>
                    
                    </ul>
                    <hr />
                    <ul class="list--inline site-footer__social-icons social-icons">
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                    </ul>
                </div> {% endcomment %}
            </div>
            
            
        </div>
        
    </div>
    <!--End Body Content-->
    
{% endblock %}  