{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
    </div>
</div>
<!--End Page Title-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
            <div class="mb-4">
                <form method="POST" action="#" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form"> 
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                {% for error in form.first_name.errors %}
                                <div class="form-errors">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name}}
                                {% for error in form.last_name.errors %}
                                <div class="form-errors">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                <div class="form-errors">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                {% for error in form.password.errors %}
                                <div class="form-errors">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.confirm_password.label_tag }}
                                {{ form.confirm_password}}
                                {% for error in form.confirm_password.errors %}
                                <div class="form-errors">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-12">
                            <input type="submit" class="btn mb-3" value="Create">
                        </div>
                        <div class="text-center col-12">
                            <a id="RecoverPassword">Already have an account?</a> &nbsp; | &nbsp;
                            <a href="{% url 'accounts:login' %}" style="font-weight:bold;" id="customer_register_link">Log In</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
